.chat-container {
  width: 350px;
  margin: 20px auto;
  font-family: Arial;
}

.chat-box {
  height: 400px;
  border: 1px solid #ccc;
  padding: 10px;
  overflow-y: auto;
  background: #f0f2f5;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* MESSAGE BASE */
.message {
  max-width: 70%;
  padding: 8px;
  border-radius: 10px;
  position: relative;
  font-size: 14px;
}

/* YOUR MESSAGE */
.me {
  align-self: flex-end;
  background: #dcf8c6;
}

/* OTHER PERSON */
.other {
  align-self: flex-start;
  background: white;
}

/* TIME */
.time {
  font-size: 10px;
  color: gray;
  display: block;
  margin-top: 5px;
  text-align: right;
}

/* INPUT AREA */
.input-area {
  display: flex;
  margin-top: 10px;
}

.input-area input {
  flex: 1;
  padding: 8px;
}

.input-area button {
  padding: 8px;
  margin-left: 5px;
  cursor: pointer;
}
